HTTPS=true
HOST=192.168.64.98
PORT=3000
REACT_APP_SERVER_NAMES=server-01,server-02,server-03,server-04
REACT_APP_SERVER_POOL=https://yourserver-01.herokuapp.com:443,https://yourserver-02.herokuapp.com:443,https://yourserver-03.herokuapp.com:443,https://yourserver-04.herokuapp.com:443
