// https: //www.npmjs.com/package/@fontsource/roboto
// Weights: [100,300,400,500,700,900]
// Styles: [italic,normal]
// Supported subsets: [cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese]
// @import "~@fontsource/roboto/index.css";
// @import "~@fontsource/roboto/300-italic.css";
@use "@fontsource/roboto/scss/mixins"as Roboto;

// <div id="ui"><div id="buttons"style="position: fixed; z-index: 1000">Language:</div></div>
#ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100px;
  background-color: "#444";
  color: "#fff";

}